@import "tailwindcss";

:root {
  --background: #171717; /* Ini warna putih */
  --foreground: #ffffff; /* Ini warna teks hitam */
}

/* Hapus bagian @media (prefers-color-scheme: dark) agar tidak jadi hitam otomatis */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Biar gak ada bayangan biru pas klik tombol di HP */
* { 
  -webkit-tap-highlight-color: transparent; 
}